<div class="container-fluid" id="row-1">
    <div class="row first">
        <div class="col-md-3">
            Rankings
            <div class="first-row rankings"></div>
        </div>
        <div class="col-md-6">
            Results
            <div class="first-row results"></div>
        </div>
        <div class="col-md-3">
            Prediction Leaderboards
            <div class="first-row pred_leaderboards"></div>
        </div>
    </div>
</div>