<div class="container-fluid">
    <div class="row first">
        <div class="col-md-3">
            Rankings
            <div class="first-row rankings">
                <table>
                    <tr style="border-bottom: 1px solid black">
                        <th>Name</th>
                        <th>Weight Division</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-6">
            Results
            <div class="first-row results">
                <table>
                    <tr>
                        <th>Contender Name 1</th>
                        <th>Contender Name 2</th>
                        <th>Winner</th>
                        <th>Result Type</th>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-md-3">
            Prediction Leaderboards
            <div class="first-row pred_leaderboards">
                <table>
                    <tr style="border-bottom: 1px solid black">
                        <th>Username</th>
                        <th>Points</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>