<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 flex-grow-0 flex-shrink-0">
      <div class="filter">
      </div>
    </div>
    <div class="col-md-6 results-table">
      <table>
        <tr>
            <th>Contender Name 1</th>
            <th>Contender Name 2</th>
            <th>Winner</th>
            <th>Result Type</th>
        </tr>
        <tr>
            <td>Gervonta Davis</td>
            <td>Shakur Stevenson</td>
            <td>Gervonta Davis</td>
            <td>TKO RD 11</td>
        </tr>
        <tr>
            <td>Terrence Crawford</td>
            <td>Saul Alvarez</td>
            <td>Terrence Crawford</td>
            <td>UD</td>
        </tr>
        <tr>
            <td>Andre Ward</td>
            <td>Roy Jones </td>
            <td>Roy Jones</td>
            <td>KO RD 5</td>
        </tr>
        <tr>
            <td>Anthony Joshua</td>
            <td>Tyson Fury</td>
            <td>Anthony Joshua</td>
            <td>KO RD 12</td>
        </tr>
        <tr>
            <td>Jake Paul</td>
            <td>Carl Froch</td>
            <td>Carl Froch</td>
            <td>TKO RD 4</td>
        </tr>
        <tr>
            <td>Gennady Golovkin</td>
            <td>Marvin Hagler</td>
            <td>Marvin Hagler</td>
            <td>UD</td>
        </tr>
        <tr>
            <td>Mike Tyson</td>
            <td>Oleksandr Usyk</td>
            <td>Mike Tyson</td>
            <td>KO RD 7</td>
        </tr>
        <tr>
            <td>Arthur Beterbiev</td>
            <td>Andre Ward</td>
            <td>Andre Ward</td>
            <td>UD</td>
        </tr>
        <tr>
            <td>KSI</td>
            <td>Jake Paul</td>
            <td>Jake Paul</td>
            <td>KO RD 4</td>
        </tr>
        <tr>
            <td>Anthony Joshua</td>
            <td>Mike Tyson</td>
            <td>Mike Tyson</td>
            <td>KO RD 6</td>
        </tr>
        <tr>
            <td>Caleb Plant</td>
            <td>Edgar Berlanga</td>
            <td>Caleb Plant</td>
            <td>UD</td>
        </tr>
        <tr>
            <td>Abdullah Mason</td>
            <td>Floyd Schofield</td>
            <td>Abdullah Mason</td>
            <td>KO RD 7</td>
        </tr>
      </table>
    </div>
    <div class="col-md-3">
    </div>
  </div>
</div>