<div class="container-fluid text-center">
    <h1>Results</h1>
    <div class="results-underline" style="height: 4px; background-color: #BA0404; width: 65%; margin: 3px auto;"></div>

    <!-- Filters -->
    <div class="container results-filter">
        <div class="row gx-3">
            <div class="col-md-3">
                <select class="form-select">
                    <option selected>Division</option>
                    <option value="heavyweight">Heavyweight</option>
                    <option value="light-heavyweight">Light Heavyweight</option>
                    <option value="middleweight">Middleweight</option>
                    <option value="welterweight">Welterweight</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-select">
                    <option selected>Nationality</option>
                    <option value="usa">USA</option>
                    <option value="uk">UK</option>
                    <option value="ireland">Ireland</option>
                    <option value="mexico">Mexico</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-select">
                    <option selected>Region</option>
                    <option value="ca">Canada</option>
                    <option value="fr">France</option>
                    <option value="sw">Sweden</option>
                    <option value="ie">Ireland</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-select">
                    <option selected>Rating</option>
                    <option value="elite">80-100</option>
                    <option value="good">60-79</option>
                    <option value="average">40-59</option>
                    <option value="novice">0-39</option>
                    <option value="unrated">N/A</option>
                </select>
            </div>
        </div>
    </div>
</div>