<div class="container-fluid">
    <h1 style="text-align:center">Results</h1>
    <div style="height: 4px; background-color: #BA0404; width: 80%; margin-top: 3px;"></div>

    <div class="results-filter"></div>
</div>