<div class="container-fluid text-center">
    <h1>Results</h1>
    <div class="results-underline" style="height: 4px; background-color: #BA0404; width: 65%; margin: 3px auto;"></div>

    <!-- Filters -->
    <div class="container results-filter">
        <div class="row gx-3">
            <div class="col-md-3">
                <select class="form-select">
                    <option selected>Division</option>
                </select>
            </div>
            <div class="col-md-3">
                <select class="form-select">
                    <option selected>Nationality</option>
                </select>
            </div>
    </div>
</div>