<div class="container-fluid text-center" id="div-view">
    <h1>Results</h1>
    <div class="results-underline" style="height: 4px; background-color: #BA0404; width: 65%; margin: 3px auto;"></div>

    <!-- Filters -->
    <div class="container results-filter">
        <div class="dropdown me-3">
            <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Division
            </button>
            <ul class="dropdown-menu scrollable-dropdown">
                <li><a href="#" class="dropdown-item">Heavyweight</a></li>
                <li><a href="#" class="dropdown-item">Light Heavyweight</a></li>
                <li><a href="#" class="dropdown-item">Welterweight</a></li>
                <li><a href="#" class="dropdown-item">Lightweight</a></li>
            </ul>
        </div>
        <div class="dropdown me-3">
            <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Region
            </button>
            <ul class="dropdown-menu scrollable-dropdown">
                <li><a href="#" class="dropdown-item">Ireland</a></li>
                <li><a href="#" class="dropdown-item">USA</a></li>
                <li><a href="#" class="dropdown-item">Mexico</a></li>
                <li><a href="#" class="dropdown-item">Saudi</a></li>
            </ul>
        </div>
        <div class="dropdown me-3">
            <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Nationality
            </button>
            <ul class="dropdown-menu scrollable-dropdown">
                <li><a href="#" class="dropdown-item">England</a></li>
                <li><a href="#" class="dropdown-item">Panama</a></li>
                <li><a href="#" class="dropdown-item">Ukraine</a></li>
                <li><a href="#" class="dropdown-item">Nigeria</a></li>
            </ul>
        </div>
        <div class="dropdown me-3">
            <button class="btn btn-light dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                Rating
            </button>
            <ul class="dropdown-menu scrollable-dropdown">
                <li><a href="#" class="dropdown-item">80-100</a></li>
                <li><a href="#" class="dropdown-item">60-79</a></li>
                <li><a href="#" class="dropdown-item">40-59</a></li>
                <li><a href="#" class="dropdown-item">0-40</a></li>
            </ul>
        </div>
    </div>
</div>