<div class="container-fluid">
    <div class="row first">
        <div class="col-md-3">
            <div class="signup">
                <h3 class="signup-header">Spectator</h3>
                <ul class="account_description">
                    <li>Feat 1</li>
                    <li>Feat 2</li>
                    <li>Feat 3</li>
                </ul>
                <%= button_to "Sign Up", new_spectator_user_registration_path, method: :get, class: "signup_btn" %>
            </div>
        </div>
        <div class="col-md-3">
            <div class="signup">
                <h3 class="signup-header">Boxer</h3>
                <ul class="account_description">
                    <li>Feat 1</li>
                    <li>Feat 2</li>
                    <li>Feat 3</li>
                </ul>
                <%= button_to "Sign Up", new_boxer_user_registration_path, method: :get, class: "signup_btn" %>
            </div>
        </div>
        <div class="col-md-3">
            <div class="signup">
                <h3 class="signup-header">Coach</h3>
                <ul class="account_description">
                    <li>Feat 1</li>
                    <li>Feat 2</li>
                    <li>Feat 3</li>
                </ul>
                <%= button_to "Sign Up", new_coach_user_registration_path, method: :get, class: "signup_btn" %>
            </div>
        </div>
        <div class="col-md-3">
            <div class="signup">
                <h3 class="signup-header">Editor</h3>
                <ul class="account_description">
                    <li>Feat 1</li>
                    <li>Feat 2</li>
                    <li>Feat 3</li>
                </ul>
                <%= button_to "Sign Up", new_editor_user_registration_path, method: :get, class: "signup_btn" %>
            </div>
        </div>
    </div>
</div>