<h1>Assign Boxers</h1>

<% if @boxers.empty? %>
  <p>No unassigned boxers are currently available.</p>
<% else %>
  <table>
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @boxers.each do |boxer| %>
        <tr>
          <td><%= boxer.first_name %></td>
          <td><%= boxer.last_name %></td>
          <td>
            Placeholder
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
