/*.results-filter{
  margin-top: 15px;
  background-color: #BA0404;
  border-radius: 4px;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 15px;
}*/

.results-underline{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #BA0404;
  width: 65%;
  margin: 3px auto;
  height: 4px;
}

.results-filter{
  height: 75px;
  background-color: #BA0404;
  border-radius: 4px;
  width: 65%;
  padding: 10px 15px;
  margin: 15px auto 0 auto;
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 25px;
  overflow: visible;
  scrollbar-width: none;
}

.results-filter::-webkit-scrollbar{
  display: none;
}

@media (max-width: 768px) {
  .results-filter {
      width: 90%;
      justify-content: flex-start;
      gap: 10px;
  }
}

.scrollable-dropdown{
  max-height: 250px;
  overflow-y: auto;
}

.dropdown-menu{
  z-index: 1050;
}

.btn-light, .btn-light:hover{
  background-color: white !important;
  color: black !important;
  border-radius: 0 !important;
}

.no-results{
  margin-top: 40px;
}

/*#div-view{
  background-color: blueviolet;
}

#div-view2{
  background-color: orange;
}*/