.signup{
    border: 2px solid black;
    border-radius: 17px;
    margin-top: 15px;
    min-height: 420px;
    width: 83%;
    margin-left: auto;
    margin-right:  auto;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-header{
    color: #A30000;
    font-weight: bold;
    margin-top: 8px;
    padding-bottom: 7px;
    border-bottom: 1.5px solid #726f6f;
    text-align: center;
    width: 100%;
}

.account_description li{
    margin-bottom: 28px;
    text-align: left;
}

.signup_btn{
    background-color: #BA0404;
    height: 65px;
    border-radius: 8px;
    text-decoration: none;
    width: 115px;
    border: none;
    color: white;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 24px;
    align-self: center;
}

/* Make the list grow to fill space */
.account_description {
    flex: 1 1 auto;
}